/* Background and Particles */
.background-color-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  z-index: -1;
  overflow: hidden;
}

.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.particle {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: float-up linear infinite;
  opacity: 0;
}

/* Particle positioning and timing - generated for 30 particles */
.particle:nth-child(1) { width: 4px; height: 4px; left: 10%; animation-duration: 20s; animation-delay: 0s; }
.particle:nth-child(2) { width: 6px; height: 6px; left: 20%; animation-duration: 25s; animation-delay: 2s; }
.particle:nth-child(3) { width: 3px; height: 3px; left: 30%; animation-duration: 18s; animation-delay: 4s; }
.particle:nth-child(4) { width: 5px; height: 5px; left: 40%; animation-duration: 22s; animation-delay: 1s; }
.particle:nth-child(5) { width: 4px; height: 4px; left: 50%; animation-duration: 24s; animation-delay: 3s; }
.particle:nth-child(6) { width: 6px; height: 6px; left: 60%; animation-duration: 19s; animation-delay: 5s; }
.particle:nth-child(7) { width: 3px; height: 3px; left: 70%; animation-duration: 21s; animation-delay: 2s; }
.particle:nth-child(8) { width: 5px; height: 5px; left: 80%; animation-duration: 23s; animation-delay: 4s; }
.particle:nth-child(9) { width: 4px; height: 4px; left: 15%; animation-duration: 26s; animation-delay: 6s; }
.particle:nth-child(10) { width: 6px; height: 6px; left: 25%; animation-duration: 20s; animation-delay: 1s; }
.particle:nth-child(11) { width: 3px; height: 3px; left: 35%; animation-duration: 22s; animation-delay: 3s; }
.particle:nth-child(12) { width: 5px; height: 5px; left: 45%; animation-duration: 24s; animation-delay: 5s; }
.particle:nth-child(13) { width: 4px; height: 4px; left: 55%; animation-duration: 18s; animation-delay: 2s; }
.particle:nth-child(14) { width: 6px; height: 6px; left: 65%; animation-duration: 25s; animation-delay: 4s; }
.particle:nth-child(15) { width: 3px; height: 3px; left: 75%; animation-duration: 21s; animation-delay: 6s; }
.particle:nth-child(16) { width: 5px; height: 5px; left: 85%; animation-duration: 23s; animation-delay: 1s; }
.particle:nth-child(17) { width: 4px; height: 4px; left: 5%; animation-duration: 19s; animation-delay: 3s; }
.particle:nth-child(18) { width: 6px; height: 6px; left: 90%; animation-duration: 26s; animation-delay: 5s; }
.particle:nth-child(19) { width: 3px; height: 3px; left: 12%; animation-duration: 22s; animation-delay: 2s; }
.particle:nth-child(20) { width: 5px; height: 5px; left: 95%; animation-duration: 24s; animation-delay: 4s; }
.particle:nth-child(21) { width: 4px; height: 4px; left: 8%; animation-duration: 20s; animation-delay: 6s; }
.particle:nth-child(22) { width: 6px; height: 6px; left: 18%; animation-duration: 25s; animation-delay: 1s; }
.particle:nth-child(23) { width: 3px; height: 3px; left: 28%; animation-duration: 18s; animation-delay: 3s; }
.particle:nth-child(24) { width: 5px; height: 5px; left: 38%; animation-duration: 22s; animation-delay: 5s; }
.particle:nth-child(25) { width: 4px; height: 4px; left: 48%; animation-duration: 24s; animation-delay: 2s; }
.particle:nth-child(26) { width: 6px; height: 6px; left: 58%; animation-duration: 19s; animation-delay: 4s; }
.particle:nth-child(27) { width: 3px; height: 3px; left: 68%; animation-duration: 21s; animation-delay: 6s; }
.particle:nth-child(28) { width: 5px; height: 5px; left: 78%; animation-duration: 23s; animation-delay: 1s; }
.particle:nth-child(29) { width: 4px; height: 4px; left: 88%; animation-duration: 20s; animation-delay: 3s; }
.particle:nth-child(30) { width: 6px; height: 6px; left: 92%; animation-duration: 25s; animation-delay: 5s; }

